.App {
    display: flex;
}

#app-sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    border-right: 3px solid black;
}

#app-content {
    padding-left: 200px;
    width: 100%;
}

nav {
    text-align: center;
    font-size: 24px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: burlywood;
}